<div class="container dashboard">

  <div class="row" style="padding-top: 100px; padding-left: 30px;">
    <form class="example-form">
      <div class="col-sm-3">
        <h2>Beginlocatie</h2>
        <mat-form-field class="inputfield">
          <input required matInput placeholder="Postcode" value="" [(ngModel)]="beginPostcode" name="beginPostcode">
        </mat-form-field>
        <mat-form-field class="example-full-width inputfield">
          <input required matInput placeholder="Huisnummer" value="" [(ngModel)]="beginHuisnummer" name="beginHuisnummer">
        </mat-form-field>
        <mat-form-field class="example-full-width inputfield">
          <input  required matInput placeholder="Straatnaam" value="" [(ngModel)]="beginStraatnaam" name="beginStraatnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width inputfield">
          <input required matInput placeholder="Plaatsnaam" value="" [(ngModel)]="beginPlaatsnaam" name="beginPlaatsnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width inputfield">
          <input required matInput placeholder="Land" value="" [(ngModel)]="beginLand" name="beginLand">
        </mat-form-field>
      </div>

      <div class="col-sm-3 column">
        <h2>Eindlocatie</h2>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="Postcode" value="" [(ngModel)]="eindPostcode" name="eindPostcode">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="Huisnummer" value="" [(ngModel)]="eindHuisnummer" name="eindHuisnummer">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="Straatnaam" value="" [(ngModel)]="eindStraatnaam" name="eindStraatnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="Plaatsnaam" value="" [(ngModel)]="eindPlaatsnaam" name="eindPlaatsnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="Land" value="" [(ngModel)]="eindLand" name="eindLand">
        </mat-form-field>
      </div>

      <div class="col-sm-3 column">
        <h2>Registratie</h2>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="Kilometers" value="" [(ngModel)]="kilometers" name="kilometers">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input required matInput placeholder="&nbsp;/ Km" value="" [(ngModel)]="declaratie" name="declaratie">
          <span matPrefix>&euro;</span>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <textarea required matInput placeholder="Omschrijving" [(ngModel)]="omschrijving" name="omschrijving" style="resize: none; padding-bottom: 6.4em;"></textarea>
        </mat-form-field>
      </div>
    </form>

    <div class="col-sm-3 column selectlist" style="padding: 70px 0 0">
      <mat-form-field appearance="outline" class="selectDropdown" style="padding-bottom: 33px">
        <mat-select required placeholder="Choose Client" [formControl]="clientFormControl" [(ngModel)]="klantNaam" disableOptionCentering panelClass="selectClass" style="padding: 0.25em 0">
          <mat-option *ngFor="let client of clientService.clients" [value]="client.clientName">{{client.clientName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="clientFormControl.hasError('required')">
          Please select a client.
        </mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline" class="selectDropdown" style="padding-bottom: 33px">
          <mat-select required placeholder="Choose Project" [formControl]="projectFormControl" [(ngModel)]="projectNaam" disableOptionCentering panelClass="selectClass" style="padding: 0.25em 0">
          <mat-option *ngFor="let project of projectService.projects" [value]="project.projectName">{{project.projectName}}</mat-option>
        </mat-select>
          <mat-error *ngIf="projectFormControl.hasError('required')">
            Please select a project.
          </mat-error>
        </mat-form-field>

      <mat-form-field appearance="outline" class="selectDropdown" style="padding-bottom: 33px;">
        <mat-select required placeholder="Choose Car" [formControl]="carFormControl" [(ngModel)]="kentekenPlaat" disableOptionCentering panelClass="selectClass" style="padding: 0.25em 0">
          <mat-option *ngFor="let car of carService.cars" [value]="car.licencePlate">{{car.carName}}</mat-option>
        </mat-select>
        <mat-error *ngIf="carFormControl.hasError('required')">
          Please select a car.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-xs-4 buttonlist" style="padding: 58px 0 0">
      <button style="width: 40px; margin: 16px 0 45px" class="btn btn-success dropdown-toggle" type="button" (click)="createClient()"> + </button>
      <button style="width: 40px; margin: 16px 0 45px" class="btn btn-success dropdown-toggle" type="button" (click)="createProject()"> + </button>
      <button style="width: 40px; margin: 16px 0 45px" class="btn btn-success dropdown-toggle" type="button" (click)="createCar()"> + </button>
    </div>
  </div>

  <div>
    <button class="new-declaration">
    </button>
  </div>

  <div>
    <button (click)="onCreateDeclaration()">create dec</button>
  </div>

  <app-clients-popup [client]="popupClient"[(showPopup)]="showPopupClient" *ngIf="showPopupClient"></app-clients-popup>
  <app-projects-popup [project]="popupProject"[(showPopup)]="showPopupProject" *ngIf="showPopupProject"></app-projects-popup>
  <app-cars-create-popup [car]="popupCar" [(showPopup)]="showPopupCar" *ngIf="showPopupCar"></app-cars-create-popup>

</div>

<router-outlet></router-outlet>
