<div class="container dashboard">


  <div class="row" style="padding-top: 100px; padding-left: 100px">
    <form class="example-form">
    <div class="col-sm-3">
      <h2>Beginlocatie</h2>
        <mat-form-field class="example-full-width" style="border-width: 0" >
          <input matInput placeholder="Postcode" value="" [(ngModel)]="beginPostcode" name="beginPostcode">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Huisnummer" value="" [(ngModel)]="beginHuisnummer" name="beginHuisnummer">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Straatnaam" value="" [(ngModel)]="beginStraatnaam" name="beginStraatnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Plaatsnaam" value="" [(ngModel)]="beginPlaatsnaam" name="beginPlaatsnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Land" value="" [(ngModel)]="beginLand" name="beginLand">
        </mat-form-field>
  </div>

    <div class="col-sm-3">
      <h2>Eindlocatie</h2>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Postcode" value="" [(ngModel)]="eindPostcode" name="eindPostcode">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Huisnummer" value="" [(ngModel)]="eindHuisnummer" name="eindHuisnummer">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Straatnaam" value="" [(ngModel)]="eindStraatnaam" name="eindStraatnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Plaatsnaam" value="" [(ngModel)]="eindPlaatsnaam" name="eindPlaatsnaam">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Land" value="" [(ngModel)]="eindLand" name="eindLand">
        </mat-form-field>
    </div>

    <div class="col-sm-3">
      <h2>Registratie</h2>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Kilometers" value="" [(ngModel)]="kilometers" name="kilometers">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="&nbsp;/ Km" value="" [(ngModel)]="declaratie" name="declaratie">
          <span matPrefix>&euro;</span>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Omschrijving" [(ngModel)]="omschrijving" name="omschrijving"></textarea>
        </mat-form-field>
    </div>
  </form>


    <div class="col-xs-1" style="padding-top: 80px">
      <div ngbDropdown class="dropdown">
        <button style="width: 130px"  ngbDropdownToggle class="btn btn-default dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Klant
          <span class="caret"></span>
        </button>
        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="about-us">
          <li><a href="#">Klant 1</a></li>
          <li><a href="#">Klant 2</a></li>
          <li><a href="#">Klant 3</a></li>
        </ul>
      </div>

      <div ngbDropdown class="dropdown" style="padding-top: 16px">
        <button style="width: 130px" ngbDropdownToggle class="btn btn-default dropdown-toggle" type="button" id="about-us2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Project
          <span class="caret"></span>
        </button>
        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="about-us">
          <li><a href="#">Project 1</a></li>
          <li><a href="#">Project 2</a></li>
          <li><a href="#">Project 3</a></li>
        </ul>
      </div>

      <div ngbDropdown class="dropdown" style="padding-top: 16px">
        <button style="width: 130px"  ngbDropdownToggle class="btn btn-default dropdown-toggle" type="button" id="about-us3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Auto
          <span class="caret"></span>
        </button>
        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="about-us">
          <li><a href="#">Auto 1</a></li>
          <li><a href="#">Auto 2</a></li>
          <li><a href="#">Auto 3</a></li>
        </ul>
      </div>
    </div>

    <div class="col-xs-1" style="padding-top: 80px; padding-left: 60px">
      <button style="width: 40px"                    class="btn btn-success dropdown-toggle" type="button"> + </button>
      <button style="width: 40px; margin-top: 16px" class="btn btn-success dropdown-toggle" type="button"> + </button>
      <button style="width: 40px; margin-top: 16px" class="btn btn-success dropdown-toggle" type="button"> + </button>
    </div>

  </div>
  <div>
    <button class="new-declaration" >
    </button>
  </div>

  <div>
    <button (click)="onCreateDeclaration()">create dec</button>
  </div>
</div>




  <router-outlet></router-outlet>
