h1 {
  text-align: center;
}

.dashboard{
  top:470px;
  width: 1056px;
  height: 900px;
  background-color: #EBEFF0;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.dashboard-text{
  text-align: center;
  color: #5D656F;
}

.dashboard-dec-row{
  width: 1100px;
  height: 60px;
}

.declaration-declarations{
  width: 1100px;
  height: 750px;
}

.dec-description-text{
  text-align: center;
  color: #858C93;
  font-size: 20px;
}

.dec-text{
  text-align: center;
  color: #44524F;
  font-size: 19px;
}

.notOdd{
  background-color: #C4EAE1;
}

.create-object {
  box-shadow: 0 2px 3px rgba(39, 39, 39, 0.5);
  background-color: #9ADECE;
  border-radius: 8px;
  width: 200px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  font-size: 18px;
  color: #5D656F;
  position: fixed;
  bottom: 30px;
  right: 430px;
}

.create-object:hover {
  box-shadow: 0 1px 2px rgba(39, 39, 39, 0.5);
  opacity: 0.9;
}

.create-object:focus {
  outline: 0;
  transform: scale(0.95);
}

.close-dec-icon{
  position: fixed;
  bottom: 26px;
  right: 26px;
  font-size: 62px;
}

.new-declaration{
  background: url("src/assets/images/newdec80.png") no-repeat;
  height: 80px;
  width: 80px;
  border:none;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.mat-form-field-flex > .mat-form-field-infix { padding: 0.2em 0px !important;}
.mat-form-field-label-wrapper { top: -1.5em; }
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(2em) scale(1.25);
  width: 100%;
}

.selectDropdown{
  width:150px;
}

.selectlist {
  width: 150px;
}

.buttonlist {
  width: 50px;
}

input:focus {
  outline: none !important;
  border:0px solid #56c8ad;
  border-radius: 5px;
}
