<mat-spinner *ngIf="load.isLoading" class="load-spinner"></mat-spinner>
<div class="container dashboard" *ngIf="!load.isLoading">

  <form novalidate
        #form="ngForm">
    <table matSort (matSortChange)="sortData($event)" style="width:90% ; margin-top: 80px; margin-left: 50px">
      <tr style="height: 60px;">

        <td><strong>Auto</strong></td>
        <td><select
            [(ngModel)]="licencePlate"
            name="licencePlate">
            <option></option>
            <option *ngFor="let car of carService.cars" [value]="car.licencePlate">{{car.licencePlate}}</option>
          </select></td>

        <td><strong>Project</strong></td>
        <td><select
            [(ngModel)]="projectName"
            name="projectName">
            <option></option>
            <option *ngFor="let project of projectService.projects" [value]="project.projectName">{{project.projectName}}</option>
          </select></td>

        <td><strong>Client</strong></td>
        <td><select
            [(ngModel)]="clientName"
            name="clientName">
            <option></option>
            <option *ngFor="let client of clientService.clients" [value]="client.clientName">{{client.clientName}}</option>
          </select></td>
      </tr>

      <tr>
        <th><mat-checkbox
            #checkbox="matCheckbox"
            (click)="onSelectAllCheckboxes(checkbox.checked)"
            [(ngModel)]="parentCheckboxSelected"
            name = "parentCheckboxSelected"
            style="margin-left: 40px"></mat-checkbox></th>
        <th mat-sort-header="omschrijving" class="dec-description-text" style="width: 32%">Omschrijving</th>
        <th mat-sort-header="auto" class="dec-description-text" style="width: 17%">Kenteken</th>
        <th mat-sort-header="project" class="dec-description-text" style="width: 17%">Project</th>
        <th mat-sort-header="datum" class="dec-description-text" style="width: 17%">Datum</th>
        <th mat-sort-header="bedrag" class="dec-description-text" style="width: 17%">Bedrag</th>
      </tr>

      <tr *ngFor="let declaration of getSlicedDeclaration() | tableFilter: form.value; let odd=odd; let id = index " class="table-dec-row" [ngClass]="{'notOdd':  odd %2 === 0}" >
        <td><mat-checkbox
            #checkbox="matCheckbox"
            (click)="onCheckboxEvent(declaration, checkbox.checked, id)"
            [checked]="allCheckboxesSelected"
            style="margin-left: 40px"></mat-checkbox></td>
        <td class="dashboard-text object-column" (click)="editDeclaration(declaration)" >{{declaration.decDesc}}</td>
        <ng-container *ngIf="isMobile() == false">
          <td class="dashboard-text object-column" (click)="editDeclaration(declaration)" >{{declaration.licencePlate}}</td>
          <td class="dashboard-text object-column" (click)="editDeclaration(declaration)" >{{declaration.projectName}}</td>
          <td class="dashboard-text object-column" (click)="editDeclaration(declaration)" >{{declaration.decDate}}</td>
          <td class="dashboard-text object-column" (click)="editDeclaration(declaration)" >€{{convertToNormalNotation(declaration.decDeclaration*declaration.decKilometers)}}</td>
        </ng-container>
      </tr>
      <tr *ngFor="let number of emptyRowsList; let odd=odd;" [ngClass]="emptyRowsList.length %2 === 0 ? odd ? '' :'notOdd':odd? 'notOdd':''" class="dashboard-dec-row">
        <td><mat-checkbox
            #checkbox="matCheckbox"
            disabled="true"
            style="margin-left: 40px"></mat-checkbox></td>
        <th class="dec-description-text"></th>
        <ng-container *ngIf="isMobile() == false">
          <th class="dec-description-text"></th>
          <th class="dec-description-text"></th>
          <th class="dec-description-text"></th>
          <th class="dec-description-text"></th>
        </ng-container>
      </tr>
    </table>
  </form>

  <div class="row" style="margin-left: 390px; margin-top: 160px" *ngIf="isMobile() == false">
    <div class="col-sm-2">
      <button [ngClass]="pageBtnLeft ? 'page-button' : 'page-button-disabled'" (click)="prevPage()"><<</button>
    </div>
    <div class="col-sm-2">
      <button [ngClass]="pageBtnRight ? 'page-button' : 'page-button-disabled'" (click)="nextPage()">>></button>
    </div>

    <div class="col-sm-4">
      <h4 class="page-counter">{{pageNumberMinimum+1}} - {{getRealMaximum()}} van de {{decService.declarations.length}}</h4>
    </div>
  </div>

  <div class="edit-buttons-container"> <!--TODO waarom werkt [ngClass]="{'desktop': !isMobile()}" hier niet??!-->
    <div class="col-sm-2">
      <div class="dec-edit-button" *ngIf="!removeEdit"
           [ngClass]="{'dec-edit-button-animation': selectedDeclarations.length==1,
           'dec-edit-button-animation2' : !(selectedDeclarations.length==1)}">
        <svg class="material-design-icons" xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="dec-edit-button" *ngIf="!removeDelete"
           [ngClass]="{'dec-edit-button-animation': selectedDeclarations.length>0,
           'dec-edit-button-animation2' : !(selectedDeclarations.length>0)}"
           (click)="OnDeleteEvent()">
        <svg class="material-design-icons"  xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="dec-edit-button" *ngIf="!removeEdit"
           [ngClass]="{'dec-edit-button-animation': selectedDeclarations.length==1,
           'dec-edit-button-animation2' : !(selectedDeclarations.length==1)}"
           (click)="OnCopyEvent()">
        <svg class="material-design-icons2" xmlns="http://www.w3.org/2000/svg" width="43" height="43" viewBox="0 0 24 24"><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
      </div>
    </div>
  </div>

  <app-declaration-popup [declaration]="popupDeclaration" [editMode]="popupEditMode" [(showPopup)]="showPopup" *ngIf="showPopup"></app-declaration-popup>



  <div>
    <a routerLink="/declarations/new">
      <button class="new-declaration"></button>
    </a>
  </div>



</div>
