<div class="container dashboard">

  <table style="width:90% ; margin-top: 100px; margin-left: 60px">
    <tr>
      <th><mat-checkbox style="margin-left: 40px"></mat-checkbox></th>
      <th class="dec-description-text" style="width: 40%">Omschrijving</th>
      <th class="dec-description-text" style="width: 15%">Auto</th>
      <th class="dec-description-text" style="width: 15%">Datum</th>
      <th class="dec-description-text" style="width: 15%">Aantal kilometers</th>
      <th class="dec-description-text" style="width: 15%">Bedrag</th>
    </tr>
    <tr *ngFor="let declaration of declarations.slice(getMinimum() , getMaximum()); let odd=odd" class="dashboard-dec-row" [ngClass]="{'notOdd':  odd %2 === 0}">
        <td><mat-checkbox style="margin-left: 40px"></mat-checkbox></td>
        <td class="dec-text" >{{declaration.description}}</td>
        <td class="dec-text" >{{declaration.beginPost}}</td>
        <td class="dec-text" >{{declaration.endPost}}</td>
        <td class="dec-text" >{{declaration.km}}</td>
        <td class="dec-text" >€{{declaration.amount}}</td>
    </tr>
  </table>

  <div class="row" style="margin-left: 490px">
    <div class="col-sm-2">
      <button class="page-button" (click)="prevPage()"><<</button>
    </div>
    <div class="col-sm-2">
      <button class="page-button" (click)="nextPage()">>></button>
    </div>
  </div>

  <div class="row" style="margin-left: 430px">
    <div class="col-sm-2">
      <div class="dec-edit-button" ></div>
    </div>
    <div class="col-sm-2">
      <div class="dec-edit-button" ></div>
    </div>
    <div class="col-sm-2">
      <div class="dec-edit-button" ></div>
    </div>
  </div>

      <div>
        <button class="new-declaration">
        </button>
      </div>

    </div>

<router-outlet></router-outlet>
