.headerContainer{
  width:1056px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.active{
  font-weight: bold;
}

.dfLogo{
  width: 82px;
  height: 82px;
  img{
    width: 100%;
    height: 100%;
  }
  display: inline-block;
  text-align: left;
}

.navigatorHeader{
  position:absolute;
  width: 600px;
  left: 0;
  right: 0;
  margin: auto;
  top: 25px;
  display: block;
  text-align: center;
  z-index: 10;
  a {
    font-size: 24px;
    transition: opacity 0.2s ease;
    padding-bottom:5px;
  }
  p {
    font-weight: bold;
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: top;
  }
  a, p {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #999B9F;
  }
}


.logUit {
  position: absolute;
  width: 1056px;
  top: 28px;
  display: block;
  text-align: right;
  a{
    color: #56C8AD;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: opacity 0.2s ease;
  }
}

/* Change the link color to #111 (black) on hover */
.navigatorHeader a:hover, .logUit a:hover {
  opacity: 0.6;
}
