<div class="headerContainer">
  <div class="dfLogo"><img src="../assets/images/df.png" alt=""></div>
  <div class="navigatorHeader">
    <div>
      <a routerLinkActive="active" routerLink="/declarations" *ngIf="routerUrlEquals('declarations')">Declaraties</a>
      <p *ngIf="!isMobile()">|</p>
      <a routerLinkActive="active" routerLink="/dashboard" *ngIf="routerUrlEquals('dashboard')">Dashboard</a>
      <p *ngIf="!isMobile()">|</p>
      <a routerLinkActive="active" routerLink="/profile" *ngIf="routerUrlEquals('profile')"> Profiel</a>
    </div>
  </div>
  <div class="logUit">
    <button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
    <button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
  </div>
</div>



