<div class="headerContainer">
  <div class="dfLogo"><img src="../assets/images/df.png" alt=""></div>
  <div class="navigatorHeader">
    <div>
      <a routerLinkActive="active" routerLink="/declarations">Declaraties</a>
      <p>|</p>
      <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      <p>|</p>
      <a routerLinkActive="active" routerLink="/profile">Profiel</a>
    </div>
  </div>
  <div class="loginLogout">
    <div (click)="test()" *ngIf="!auth.loggedIn">
      <a>Login</a>
    </div>
    <div (click)="auth.logout()" *ngIf="auth.loggedIn">
      <a>Log uit</a>
    </div>
  </div>
</div>
