.headerContainer{
  width:800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigatorHeader{
  display: inline-block;
}

.dflogo{
  background: url("src/assets/images/dfresized.png") no-repeat;
  width: 82px;
  height: 82px;
  display: inline-block;
}

ul {
  list-style-type: none;
  li{
    float: left;
  }
  z-index: 1000;
}


li a {
  display: block;
  color: #999B9F;
  text-align: center;
  padding: 30px 16px;
  max-width: 100px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
