<div class="full-screen" (click)="closePopupOutsidePopup($event)">
  <div class="popup-wrapper">
    <div class="popup-container">
      <div class="popup-header-display">
        <h2 class="popup-header">{{popup.header}}</h2>
        <div class="close-button">
          <i class="material-icons" (click)="close()">
            close
          </i>
        </div>
      </div>

      <div class="main-content">
        <p>{{popup.mainContent}}</p>
        <div class="buttons">
          <div class="button-wrapper">
            <button (click)="delete()" class="btn confirm">{{popup.confirmButtonText}}</button>
          </div>
          <div class="button-wrapper">
            <button (click)="close()" class="btn confirm">{{popup.cancelButtonText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
