h1 {
  text-align: center;
}

.home{
  top:470px;
  width: 1056px;
  height: 900px;
  background-color: #EBEFF0;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  #welkom {
    height: 100%;
    background-color: #56C8AD;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    border:none;
    h1{
      padding-top: 75px;
    }
  }
}
