*{
  color: #5D656F;
}

.headerContainer {
  margin-top: 165px;
  width: 100%;
  text-align: center;
}


.table-dec-row{
  width: 100%;
  height: 60px;
}

.table-description-text{
  text-align: center;
  color: #858C93;
  font-size: 20px;
}

.table-text{
  text-align: center;
  color: #44524F;
  font-size: 19px;
}

.notOdd{
  background-color: #C4EAE1;
}
