<div class="login-container">
  <form class="login-form">
    <div class="login">
      <div class="email">
        <label for="email">E-mail</label>
        <br>
        <input type="text" id="email">
      </div>
      <div class="password">
        <label for="password">Wachtwoord</label>
        <br>
        <input type="password" id="password">
      </div>
      <div class="submit">
        <button type="submit" class="loginbtn">Login</button>
      </div>
      <hr>
      <div class="create">
        <label for="create">Nog geen account?</label>
        <br>
        <button id="create" type="button" routerLink="/create" class="createbtn">Nieuw Account</button>
      </div>
    </div>
  </form>
</div>
