@font-face
{
  font-family: Lato;
  src: url('../font/Lato-Regular.ttf');
}

* {
  font-family: Lato, sans-serif;
}

app-header{
  background-color: #5D656F;
  width: 100%;
  height: 82px;
  display: block;
  z-index: 1000;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  position: fixed;
}

app-dashboard {
  z-index: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #5d656f;
  color: #999B9F;;
  text-align: center;
  box-shadow: 5px 3px 5px 5px rgba(57, 63, 72, 0.3);
}

