<div class="container dashboard">
  <div class="row" style="height: 18%">
    <div class="panel panel-default" style=" height: 100%;background-color: #56C8AD; box-shadow: 0 0 8px 0 rgba(0,0,0,.2);">
      <h1 style="color: #5D656F; padding-top: 2%">Welkom, persoon</h1>
    </div>
  </div>
  <div class="row" style="height: 30%; width: 100%; margin-top: 3%" >
    <div class="col-sm-10" style="height: 100%; width: 250px; margin-left: 14%">
      <div class="kmicon"></div>
    </div>
    <div class="col-sm-10" style="height: 100%; width: 250px; margin-left: 7%; margin-right: 7%">
      <div class="moneyicon"></div>
    </div>
    <div class="col-sm-10" style="height: 100%; width: 250px; margin-right: 10%">
      <div class="decicon"></div>
    </div>
  </div>
  <div class="row" style="height: 30%; width: 100%;" >
    <div class="col-sm-10" style="height: 100%; width: 250px; margin-left: 14%">
      <h3>Totaal aantal kilometers</h3>
    </div>
    <div class="col-sm-10" style="height: 100%; width: 250px; margin-left: 7%; margin-right: 7%">
      <h3>Vergoedingen ontvangen</h3>
    </div>
    <div class="col-sm-10" style="height: 100%; width: 250px; margin-right: 10%">
      <h3>Declaraties gemaakt</h3>
    </div>
  </div>
</div>
