<div class="container dashboard" [ngClass]="{'mobile': isMobile()}">
  <div class="row" style="height: 150px">
    <div id="welkom">
      <h1 style="color: #5D656F;">Welkom {{ userService.user.username }} </h1>
    </div>
  </div>

  <div class="row iconContainer" [ngClass]="{'mobile': isMobile()}">
    <div class="col-sm-10 km-column">
      <div class="kmicon"></div>
      <div class="dashboard-text">
        <h4>Totaal aantal kilometers</h4>
        <h3>{{decService.totalKilometers}} Km</h3>
      </div>
    </div>
    <div class="col-sm-10 money-column">
      <div class="moneyicon"></div>
      <div class="dashboard-text">
        <h4>Vergoedingen ontvangen</h4>
        <h3>&euro;{{decService.totalMoney}}</h3>
      </div>
    </div>
    <div class="col-sm-10 dec-column">
      <div class="decicon"></div>
      <div class="dashboard-text">
        <h4>Declaraties gemaakt</h4>
        <h3>{{decService.totalDeclarations}}</h3>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isMobile() == false">

    <div class="row">
      <div class="dashboard-text" style="padding-top: 95px">
        <h2>Laatst gemaakte Declaraties</h2>
      </div>
    </div>

    <table style="width:90% ; margin-top: 40px; margin-left: 50px; height: 100px">
      <tr>
        <th class="dec-description-text" style="width: 35%">Omschrijving</th>
        <th class="dec-description-text" style="width: 16%">Auto</th>
        <th class="dec-description-text" style="width: 16%">Datum</th>
        <th class="dec-description-text" style="width: 17%">Aantal kilometers</th>
        <th class="dec-description-text" style="width: 16%">Bedrag</th>
      </tr>
      <tr
        *ngFor="let declaration of decService.declarations.slice(decService.declarations.length-3 , decService.declarations.length); let odd=odd; let id = index"
        class="dashboard-dec-row" [ngClass]="{'notOdd':  odd %2 === 0}">
        <td class="dec-text object-column" (click)="editDeclaration(declaration)">{{declaration.decDesc}}</td>
        <td class="dec-text object-column" (click)="editDeclaration(declaration)">{{declaration.licencePlate}}</td>
        <td class="dec-text object-column" (click)="editDeclaration(declaration)">{{declaration.decDate}}</td>
        <td class="dec-text object-column" (click)="editDeclaration(declaration)">{{declaration.decKilometers}}</td>
        <td class="dec-text object-column" (click)="editDeclaration(declaration)">€{{declaration.decDeclaration * declaration.decKilometers}}</td>
      </tr>

    </table>

    <app-declaration-popup [declaration]="popupDeclaration" [editMode]="popupEditMode" [(showPopup)]="showPopup" *ngIf="showPopup"></app-declaration-popup>

    <div>
      <a routerLink="/declarations/new">
        <button class="new-declaration"></button>
      </a>
    </div>
  </ng-container>

</div>
