<div class="headerContainer"><h1>Auto's</h1></div>
<table style="width:90% ; margin-top: 50px; margin-left: 50px">
  <tr class="table-dec-row">
    <th class="table-checkbox"><mat-checkbox #checkbox="matCheckbox"  style="width: 7%" [(ngModel)]="parentCheckboxSelected" (click)="onSelectAllCheckboxes(checkbox.checked)" ></mat-checkbox></th>
    <th class="table-description-text" style="width: 23.5%">Kenteken</th>
    <th class="table-description-text" style="width: 23.5%">Naam</th>
    <th class="table-description-text" style="width: 22.5%">Brandstof</th>
    <th class="table-description-text" style="width: 23.5%">Kleur</th>
  </tr>

  <tr *ngFor="let car of carService.cars.slice(getMinimum() , getMaximum()); let odd=odd; let id = index" class="table-dec-row" [ngClass]="{'notOdd':  odd %2 === 0}">
    <td class="table-checkbox"><mat-checkbox
        #checkbox="matCheckbox"
        (click)="onCheckboxEvent(car, checkbox.checked)"
        [checked]="allCheckboxesSelected"></mat-checkbox></td>
    <td class="table-text object-column" (click)="editCar(car)">{{car.licencePlate}}</td>
    <td class="table-text object-column" (click)="editCar(car)">{{car.carName}}</td>
    <td class="table-text object-column" (click)="editCar(car)">{{car.fuelType}}</td>
    <td class="table-text object-column" (click)="editCar(car)">{{car.carColor}}</td>
  </tr>

  <tr *ngFor="let number of emptyRowsList; let odd=odd;" [ngClass]="emptyRowsList.length %2 === 0 ? odd ? '' :'notOdd':odd? 'notOdd':''" class="table-dec-row">
    <td class="table-checkbox"><mat-checkbox
        #checkbox="matCheckbox"
        disabled="true"></mat-checkbox></td>
    <td class="table-text" ></td>
    <td class="table-text" ></td>
    <td class="table-text" ></td>
    <td class="table-text" ></td>
  </tr>
</table>
<div class="actions">
  <div class="btn-wrapper create">
    <button class="create-object" (click)="createCar()">Auto aanmaken</button>
  </div>
  <div class="btn-wrapper delete">
    <button class="delete-object" [disabled]="deleteButtonDisabled" [ngClass]="deleteButtonDisabled ? 'disabled' : ''" (click)="verwijderPopup()"><i
      class="material-icons">delete</i></button>
  </div>
</div>
<div class="row">
  <div class="col-sm-6" style="text-align: right; padding-right: 80px;">
    <button [ngClass]="pageBtnLeft ? 'page-button' : 'page-button-disabled'" (click)="prevPage()">
      <<
    </button>
  </div>
  <div class="col-sm-6">
    <button [ngClass]="pageBtnRight ? 'page-button' : 'page-button-disabled'" style="margin-left: 10px" (click)="nextPage()">
      >>
    </button>
  </div>
</div>

<app-cars-create-popup [car]="popupCar" [editMode]="popupEditMode" [(showPopup)]="showPopup" *ngIf="showPopup" (returnChange)="onChange($event)" ></app-cars-create-popup>
<app-delete-popup [popup]="deletePopup" (boolReturn)="deleteCarsSelected($event)" *ngIf="showDeletePopup"></app-delete-popup>
