<div class="full-screen" (click)="closePopupOutsidePopup($event)">
  <div class="popup-wrapper">
    <div class="popup-container">
      <div class="popup-header-display">
        <h2 class="popup-header">{{popupHeader}}</h2>
        <div class="close-button">
          <i class="material-icons" (click)="closePopup()">
            close
          </i>
        </div>

      </div>

      <div class="input-fields">
        <form>
          <mat-form-field>
            <input matInput placeholder="Projectnaam" disabled="{{editMode}}" value="" [(ngModel)]="project.projectName" maxlength="50" name="projectNaam">
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width">
            <textarea matInput placeholder="Projectbeschrijving" [(ngModel)]="project.projectDesc"
                      style="resize: none; padding-bottom: 1.5em;"
                      name="projectDesc"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Begindatum" disabled [formControl]="beginDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker disabled="false" #picker2></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="Einddatum" disabled [formControl]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
          </mat-form-field>
          <div class="button-wrapper">
            <button (click)="createProject()" class="btn">Opslaan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
