
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$KilometerRegistratieFrontend-primary: mat-palette($mat-green);
$KilometerRegistratieFrontend-accent: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$KilometerRegistratieFrontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$KilometerRegistratieFrontend-theme: mat-light-theme($KilometerRegistratieFrontend-primary, $KilometerRegistratieFrontend-accent, $KilometerRegistratieFrontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($KilometerRegistratieFrontend-theme);

.bg-img {
  //background: url("assets/images/traffic-jamm.jpg") no-repeat 0 0 fixed;
  background-color: #9ADECE;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

button, a {
  cursor: pointer;
}

input {
}

input:focus {
  outline: none !important;
  border:5px solid #56c8ad;
  border-radius: 5px;
}

.container {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-button{
  box-shadow: 0 2px 3px rgba(39, 39, 39, 0.5);
  background-color: #56C8AD;
  border-radius: 8%;
  width:92px;
  height: 35px;
  position: fixed;
  bottom: 128px;
  border: none;
  font-size: 24px;
  color: white;
  &:hover {
    box-shadow: 0 1px 2px rgba(39, 39, 39, 0.5);
    opacity: 0.7;
  }
}

.actions{
  width:90%;
  margin-left: 50px;
  .btn-wrapper {
    display: inline-block;
    width: 50%;
    &.create {
      //padding-left: 50px;
    }
    &.delete {
      text-align: right;
      .delete-object {
        &.disabled {
          opacity: 0.5;
          //box-shadow: none;
          &:hover {
            box-shadow: 0 2px 3px rgba(39, 39, 39, 0.5);
            opacity: 0.5;
          }
        }
        box-shadow: 0 2px 3px rgba(39, 39, 39, 0.5);
        background-color: #C4EAE1;
        border-radius: 8px;
        border: none;
        margin-top: 10px;
        width:45px;
        height:45px;

        i {
          color: #5D656F;
          position: relative;
          top:2.5px;
          font-size: 25px;
        }
      }
    }
    .create-object {
      box-shadow: 0 2px 3px rgba(39, 39, 39, 0.5);
      background-color: #C4EAE1;
      border-radius: 8px;
      width: 180px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px;
      border: none;
      font-size: 18px;
      color: #5D656F;
    }
    .delete-object, .create-object {

      &:hover {
        box-shadow: 0 1px 2px rgba(39, 39, 39, 0.5);
        opacity: 0.7;
      }
      &:focus {
        outline: 0;
      }
    }
  }
}


.page-button:focus, .page-button-disabled:focus{
  outline: 0;
}

.page-button-disabled{
  background-color: #9adfcd;
  color:white;
  cursor: default;
  box-shadow: 0 2px 3px rgba(39, 39, 39, 0.5);
  border-radius: 8%;
  width:92px;
  height: 35px;
  position: fixed;
  bottom: 128px;
  border: none;
  font-size: 24px;
}

html, body { height: 100%; background-color: #9ADECE;}
html{
  background-color: #9ADECE;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #9ADECE; }
