<div class="create-container">
  <form class="create-form">
    <div class="create">
      <div class="email">
        <label for="email">E-mail</label>
        <br>
        <input type="text" id="email">
      </div>
      <div class="password">
        <label for="password">Wachtwoord</label>
        <br>
        <input type="password" id="password">
      </div>
      <div class="submit">
        <button type="submit" class="createbtn">Maak Account</button>
      </div>
      <hr>
      <div class="back">
        <button id="back" type="button" routerLink="/login" class="backbtn">Terug</button>
      </div>
    </div>
  </form>
</div>
